<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
	<link href="~/css/StyleSheet.css" rel="stylesheet" />
	<title>@ViewBag.Title</title>
</head>
<body>
	<!-- Image and text -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" href ="#" onclick="@("window.location.href='" + @Url.Action("index", "Home")  + "'");">
			<img src="~/images/logo.png" height="35" class="d-inline-block align-top" alt="">
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
            

                @*<li class="nav-item">
                    <button type="button" class="btn btn-primary" asp-action="Login" onclick="@("window.location.href='" + @Url.Action("Login", "Home") + "'");">Log in</button>
                </li>*@
                

          
		</div>
	</nav>
	<div class="container m-3">
		@RenderBody()
	</div>
</body>
</html>
