@model Player
@{
    ViewData["Title"] = "Transfer Log";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Transfer Log</h2>

@if (@Model != null)
{
    <h3>@Model.Name</h3>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">From</th>
                <th scope="col">To</th>
                <th scope="col">Date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var log in @Model.TransferLog)
            {
                <tr>
                    <td>@(log.FromClub == null ? "NO TEAM" : log.FromClub.Name)</td>
                    <td>@log.ToClub?.Name</td>
                    <td>@log.Date.ToString("MM/dd/yyyy HH:mm:ss")</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="alert alert-danger" role="alert">
        Model is empty!
    </div>
}